[
  {
    "name": "Test empty cmdline",
    "files": ["main.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": "main"              // Specify the entry point function for the test (optional, default is "main")
  },
  {
    "name": "Test 1",
    "files": ["main.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": "main",             // Specify the entry point function for the test (optional, default is "main")
    // The first character in the -val-args argument, usually a space, indicates the separator to split the string
    // between argv[1], argv[2], ... Here argv[1] will be "blah", argv[2] will be "bleh" and so on:
    "raw_options":{"-val-args": " blah bleh blih bloh bluh"}
  },
  {
    "name": "Test 2",
    "files": ["main.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": "main",             // Specify the entry point function for the test (optional, default is "main")
    // If you intend to pass arguments containing spaces. Use, as the first character in the -val-args argument,
    // any character that you did not intend to use inside the text of the arguments.
    //  e.g. if you want the program to run as if you had invoked the following in shell:
    // ./program 'the quick brown fox'
    // use:
    "raw_options":{"-val-args": "^the quick brown fox"}
  }

]
